body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2, h3 {
    color: #000000;
    transition: color 0.3s ease;
}

h1:hover, h2:hover, h3:hover {
    color: #e74c3c; /* Change to your desired hover color */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

p {
    margin: 0;
}

.education:hover, .experience:hover, .skills:hover, .contact:hover,.certifications:hover{
 
    margin-bottom: 2em;
    background-color: #2980b9; /* Change to your desired hover color */
    transform: scale(1.1);
}
.read-more {
    position: absolute;
    align-items:right;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


/* Media Queries for responsiveness */
@media screen and (max-width: 600px) {
    section {
        padding: 1em;
    }
}

@media screen and (max-width: 400px) {
    h1, h2, h3 {
        font-size: 1.5em;
    }
}
/*For profile image*/
.logo {
    max-width: 100px; /* Adjust the max-width as needed */
    height: auto;
    border-radius: 20px;
    margin-right: 10px; /* Add spacing between the logo and text */
}
.certificate{
    max-width: 200px;
}
.logo:hover{

    border-radius: 50px;
}
.logo-contact,.fa-brands:hover,.fa-solid:hover{
    max-width: 400px; /* Increase the max-width for a larger logo */
    height: auto;
    margin-right: 10px;
    transform: scale(1.7);
    padding: 30rem,0rem;
    cursor: pointer;
}
